<h1><%= @merchant.name %>'s Bulk Discounts</h1>
<hr>
<% @merchant.bulk_discounts.each do |bulk_discount| %>
<div id="bulk_discount-<%= bulk_discount.id %>">
  <h3><%= bulk_discount.percentage %>% off</h3>
  <h3>For <%= bulk_discount.quantity_threshold %> or more items!</h3>
  <%= link_to "More Details", "/merchants/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}" %><br>
  <br><%= button_to "Delete This Discount", "/merchants/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}", method: :delete %>
  <hr>
</div>
<% end %>

<%= link_to "Create New Discount", "/merchants/#{@merchant.id}/bulk_discounts/new" %>

<div id="upcoming_holidays">
  <h3>Upcoming Holidays</h3>
  <% @holidays.next_three_holidays.each do |holiday| %>
    <p><%= holiday.name %></p>
    <p><%= holiday.date %></p>
  <% end %>
</div>
