<%= form_with url: "/merchants/#{@merchant.id}/discounts", method: :post, local: true do |form| %>
  <%= form.label :percentage %>
  <%= form.number_field :percentage %>

  <%= form.label :quantity_threshold %>
  <%= form.number_field :quantity_threshold %>

  <%= form.submit "Submit" %>
<% end %>

<% flash.each do |type, message| %>
  <p><%= message %></p>
<% end %>
